In [112]:
# importing the required modules
from IPython.display import display
import pandas as pd
import os
from datetime import datetime

In [113]:
# Get the current working directory
cwd = os.getcwd()

# Print the current working directory
print("Current working directory: {0}".format(cwd))

Current working directory: c:\Users\rensw\OneDrive - Universiteit Utrecht\GIMA\Thesis - Buitenland\Thesis\Data\Raw_data\ECR1

## Raw Data Management --> Interim Data

In [114]:
# Remove old version
#os.remove(cwd + '/interim/ECR1_interimdata_27102022.csv')
#os.remove(cwd + '/interim/ECR1_interimdata_27102022.xlsx')

In [115]:
# read the raw excel file from the url
excelFile = pd.ExcelFile(cwd + '/raw/ECR1_rawdata_13102022.xlsx')
df = pd.read_excel(excelFile)
df

,Signatories,Population,Commitments,Status,Adhesion date
0,"LA MOHEDA DE GATA, ES",619,,NaN,2022
1,"GATA, ES",794,,NaN,2022
2,"VILLANUEVA DE LA SIERRA, ES",470,,NaN,2022
3,"HOYOS, ES",882,,NaN,2022
4,"Barcarrota, ES",3580,,NaN,2022
...,...,...,...,...,...
2891,"Gargantilla del Lozoya y Pinilla de Buitrago, ES",369,NaN,NaN,2008
2892,"Torrelodones, ES",21781,NaN,NaN,2008
2893,"Los Corrales, ES",4080,NaN,NaN,2008
2894,"Puerto Lumbreras, ES",14000,,NaN,2008
2895,"Santander, ES",182700,NaN,NaN,2008

In [116]:
# List headers of columns to check raw data set
list(df.columns)

['Signatories', 'Population', 'Commitments', 'Status', 'Adhesion date']

In [117]:
# filter columns that refer to 'cobertura 30Mpbs' (see leyenda)
df = df[['Signatories']]
df

                                           Signatories
0                                LA MOHEDA DE GATA, ES
1                                             GATA, ES
2                          VILLANUEVA DE LA SIERRA, ES
3                                            HOYOS, ES
4                                       Barcarrota, ES
...                                                ...
2891  Gargantilla del Lozoya y Pinilla de Buitrago, ES
2892                                  Torrelodones, ES
2893                                  Los Corrales, ES
2894                              Puerto Lumbreras, ES
2895                                     Santander, ES

[2896 rows x 1 columns]

In [118]:
# remove 'ES' from values and title-format to values
df['Municipalities_Signed_CovenantofMayors'] = df['Signatories'].str.replace(r', ES', '').str.title()
df = df['Municipalities_Signed_CovenantofMayors']

C:\Users\rensw\AppData\Local\Temp\ipykernel_25640\2969287219.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Municipalities_Signed_CovenantofMayors'] = df['Signatories'].str.replace(r', ES', '').str.title()

In [119]:
# exports the dataframe into csv file with
folder = 'interim'
file_name = 'ECR1_interimdata'
date = datetime.now().strftime("%d%m%Y")
data_format = '.csv'

export_name = '/' + folder + '/' + file_name + '_' + date + data_format

df.to_csv(cwd + export_name, index=False)

In [120]:
# exports the dataframe into excel file with
folder = 'interim'
file_name = 'ECR1_interimdata' 
date = datetime.now().strftime("%d%m%Y")
data_format = '.xlsx'

export_name = '/' + folder + '/' + file_name + '_' + date + data_format

df.to_excel(cwd + export_name, index=False)