In [1]:
# importing the required modules
from IPython.display import display
import pandas as pd
import os
from datetime import datetime 
import string as str

In [2]:
# Get the current working directory
cwd = os.getcwd()

# Print the current working directory
print("Current working directory: {0}".format(cwd))

Current working directory: c:\Users\rensw\OneDrive - Universiteit Utrecht\GIMA\Thesis - Buitenland\Thesis\Data\Raw_data\D3

## Raw Data Management --> Interim Data

In [3]:
# Remove old version
#os.remove(cwd + '/interim/D3_interimdata_27102022.csv')
#os.remove(cwd + '/interim/D3_interimdata_27102022.xlsx')

In [4]:
# read the raw excel file from the url
excelFile = pd.ExcelFile(cwd + '/raw/D3_rawdata_27102022.xlsx')
df = pd.read_excel(excelFile, 'Municipio')
df

,Comunidad Autónoma,Provincia,CMUN,Municipio,Habitantes,Viviendas\n(Catastro Agosto 2020),VDSL 30Mbps \n(junio 2021),Unnamed: 7,Inalámbrico fijo\n(junio 2021),Unnamed: 9,FTTH \n(junio 2021),HFC\n(junio 2021),Unnamed: 12,Cob. 30Mbps\n(junio 2021),Cob. 100Mbps\n(junio 2021),Unnamed: 15,4G\n(junio 2021),5G\n(junio 2021)
0,País Vasco,Araba/Álava,1001,Alegría-Dulantzi,2935,1275,0.283173,NaN,0.999633,NaN,0.807059,0.000000,NaN,0.999817,0.807059,NaN,1.000000,0.000000
1,País Vasco,Araba/Álava,1002,Amurrio,10264,4925,0.118489,NaN,0.082250,NaN,0.831269,0.711675,NaN,0.934924,0.869848,NaN,1.000000,0.000000
2,País Vasco,Araba/Álava,1003,Aramaio,1442,746,0.350365,NaN,0.675260,NaN,0.784182,0.000000,NaN,0.892091,0.784182,NaN,1.000000,0.000000
3,País Vasco,Araba/Álava,1004,Artziniega,1800,1101,0.181535,NaN,0.926837,NaN,0.953678,0.000000,NaN,0.976839,0.953678,NaN,1.000000,0.030961
4,País Vasco,Araba/Álava,1006,Armiñón,223,179,0.000000,NaN,0.620798,NaN,0.837989,0.000000,NaN,0.988827,0.837989,NaN,1.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8126,Andalucía,Córdoba,14902,"Guijarrosa, La",1379,638,0.000000,NaN,0.000000,NaN,0.893417,0.000000,NaN,0.893417,0.893417,NaN,0.821088,0.000000
8127,Andalucía,Granada,18077,Fornes,556,356,0.000000,NaN,0.382022,NaN,0.952247,0.000000,NaN,0.991573,0.952247,NaN,1.000000,0.000000
8128,Andalucía,Granada,18916,Torrenueva Costa,2796,5529,0.000000,NaN,0.973232,NaN,0.978296,0.000000,NaN,0.998915,0.978296,NaN,1.000000,0.582896
8129,Andalucía,Huelva,21902,"Zarza-Perrunal, La",1253,1083,0.000000,NaN,0.000000,NaN,1.000000,0.000000,NaN,1.000000,1.000000,NaN,1.000000,0.000000
8130,Andalucía,Sevilla,41904,"Palmar de Troya, El",2343,925,0.000000,NaN,0.000000,NaN,0.945946,0.000000,NaN,0.945946,0.945946,NaN,1.000000,0.150175

In [5]:
# List headers of columns to check raw data set
list(df.columns)

['Comunidad Autónoma',
 'Provincia',
 'CMUN',
 'Municipio',
 'Habitantes',
 'Viviendas\n(Catastro Agosto 2020)',
 'VDSL 30Mbps \n(junio 2021)',
 'Unnamed: 7',
 'Inalámbrico fijo\n(junio 2021)',
 'Unnamed: 9',
 'FTTH \n(junio 2021)',
 'HFC\n(junio 2021)',
 'Unnamed: 12',
 'Cob. 30Mbps\n(junio 2021)',
 'Cob. 100Mbps\n(junio 2021)',
 'Unnamed: 15',
 '4G\n(junio 2021)',
 '5G\n(junio 2021)']

In [6]:
# filter columns that refer to 'cobertura 30Mpbs' (see leyenda)
df = df[[
 'Comunidad Autónoma',
 'Provincia',
 'Municipio',
 'Cob. 30Mbps\n(junio 2021)']]

# create a dictionary
# key = old name
# value = new name
dict = {'Comunidad Autónoma': 'Autonomous_Community',
        'Provincia': 'Province',
        'Municipio': 'Municipality',
        'Cob. 30Mbps\n(junio 2021)': '%_People_with_Broadband_Connection'}
 
# call rename () method
df.rename(columns=dict,
          inplace=True)

df

C:\Users\rensw\AppData\Local\Temp\ipykernel_3512\1563334775.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=dict,

,Autonomous_Community,Province,Municipality,%_People_with_Broadband_Connection
0,País Vasco,Araba/Álava,Alegría-Dulantzi,0.999817
1,País Vasco,Araba/Álava,Amurrio,0.934924
2,País Vasco,Araba/Álava,Aramaio,0.892091
3,País Vasco,Araba/Álava,Artziniega,0.976839
4,País Vasco,Araba/Álava,Armiñón,0.988827
...,...,...,...,...
8126,Andalucía,Córdoba,"Guijarrosa, La",0.893417
8127,Andalucía,Granada,Fornes,0.991573
8128,Andalucía,Granada,Torrenueva Costa,0.998915
8129,Andalucía,Huelva,"Zarza-Perrunal, La",1.000000
8130,Andalucía,Sevilla,"Palmar de Troya, El",0.945946

In [7]:
# Split municipality column and combine to reorder names
df2 = pd.concat([df['Municipality'], df['Municipality'].str.split(', ', expand=True)], axis=1) ## split municipality column by comma to split article from municipality name (e.g., Rioja, La --> Rioja & La) 
df2['Municipality_clean'] = df2[1] + ' ' + df2[0] ## place article before municipality name (e.g., Rioja, La --> La Rioja) 
df2['Municipality_clean'] = df2['Municipality_clean'].fillna(df2.pop('Municipality')) 

# Filter out errors in municipality names
df['Municipality'] = df2['Municipality_clean'].str.replace("' ", "'") ## remove space between article and word when using an apostrophe before municipality name (e.g., L' Arbo --> L'Arbo')

# MORE NEEDED HERE
df

C:\Users\rensw\AppData\Local\Temp\ipykernel_3512\2807456607.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Municipality'] = df2['Municipality_clean'].str.replace("' ", "'") ## remove space between article and word when using an apostrophe before municipality name (e.g., L' Arbo --> L'Arbo')

,Autonomous_Community,Province,Municipality,%_People_with_Broadband_Connection
0,País Vasco,Araba/Álava,Alegría-Dulantzi,0.999817
1,País Vasco,Araba/Álava,Amurrio,0.934924
2,País Vasco,Araba/Álava,Aramaio,0.892091
3,País Vasco,Araba/Álava,Artziniega,0.976839
4,País Vasco,Araba/Álava,Armiñón,0.988827
...,...,...,...,...
8126,Andalucía,Córdoba,La Guijarrosa,0.893417
8127,Andalucía,Granada,Fornes,0.991573
8128,Andalucía,Granada,Torrenueva Costa,0.998915
8129,Andalucía,Huelva,La Zarza-Perrunal,1.000000
8130,Andalucía,Sevilla,El Palmar de Troya,0.945946

In [8]:
# Title case to all column names
df['Municipality'] = df['Municipality'].str.title()

C:\Users\rensw\AppData\Local\Temp\ipykernel_3512\555010189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Municipality'] = df['Municipality'].str.title()

In [9]:
# exports the dataframe into csv file with
folder = 'interim'
file_name = 'D3_interimdata'
date = datetime.now().strftime("%d%m%Y")
data_format = '.csv'

export_name = '/' + folder + '/' + file_name + '_' + date + data_format

df.to_csv(cwd + export_name, index=False)

In [10]:
# exports the dataframe into excel file with
folder = 'interim'
file_name = 'D3_interimdata' 
date = datetime.now().strftime("%d%m%Y")
data_format = '.xlsx'

export_name = '/' + folder + '/' + file_name + '_' + date + data_format

df.to_excel(cwd + export_name, index=False)