In [16]:
# importing the required modules
from IPython.display import display
import glob
import pandas as pd
from pathlib import Path
import os
import re
from os import path
from datetime import datetime

In [17]:
# Get the current working directory
cwd = os.getcwd()

# Print the current working directory
print("Current working directory: {0}".format(cwd))

Current working directory: c:\Users\rensw\OneDrive - Universiteit Utrecht\GIMA\Thesis - Buitenland\Thesis\Data\Raw_data\W2

In [18]:
# Remove old version
#os.remove(cwd + '/interim/W2_interimdata_28102022.csv')
#os.remove(cwd + '/interim/W2_interimdata_28102022.xlsx')

In [19]:
# specifying the path to excel files
path = cwd + '/raw'
#path = 'C:\Users\rensw\OneDrive - Universiteit Utrecht\GIMA\Thesis - Buitenland\Thesis\Data\Raw_data\W2/raw'
print(path)

c:\Users\rensw\OneDrive - Universiteit Utrecht\GIMA\Thesis - Buitenland\Thesis\Data\Raw_data\W2/raw

In [20]:
# excel files in the path
file_list = glob.glob(path + "/*.xlsx")

# list of excel files we want to merge.
#pd.read_excel(file_path) #reads the excel
# data into pandas dataframe.
excl_list = []

In [21]:
for file in file_list:  
    # get name of autonomous community
    file_name = os.path.basename(file)
    file_name_split = file_name.split("_")
    autonomousComm_name = file_name_split[1]
    autonomousComm_name = re.sub(r"(\w)([A-Z])", r"\1 \2", autonomousComm_name)

    # get name of province / consell comarcal   
    province_name = file_name_split[2]
    province_name = Path(province_name).stem
    province_name = re.sub(r"(\w)([A-Z])", r"\1 \2", province_name)
    
    # get name of province / consell comarcal  
    df = pd.read_excel(file)
    df['Autonomous_Community'] = autonomousComm_name
    df['Province'] = province_name

    excl_list.append(df)

In [22]:
# create a new dataframe to store the
# merged excel file.
excl_merged = pd.DataFrame()
 
for excl_file in excl_list:
     
    # appends the data into the excl_merged
    # dataframe.
    excl_merged = excl_merged.append(
      excl_file, ignore_index=True)
  
# print original data frame
data_top = excl_merged.head()
display(data_top)

C:\Users\rensw\AppData\Local\Temp\ipykernel_33980\1759873629.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  excl_merged = excl_merged.append(

,Año,Municipio,Nº de contenedores,Envases de vidrio (kgs) recogidos,Autonomous_Community,Province_ConsellComarcal
0,2021.0,Abla,8.0,6230.0,Andalucia,Almeria
1,2021.0,Abrucena,10.0,11518.0,Andalucia,Almeria
2,2021.0,Adra,157.0,282575.0,Andalucia,Almeria
3,2021.0,Albanchez,6.0,17808.0,Andalucia,Almeria
4,2021.0,Alboloduy,6.0,4024.0,Andalucia,Almeria

In [23]:
# create a dictionary
# key = old name
# value = new name
dict = {'Año': 'Year',
        'Municipio': 'Municipality',
        'Nº de contenedores': 'Number of bins',
        'Envases de vidrio (kgs) recogidos': 'Glass packaging (kg) collected'}
 
# call rename () method
excl_merged.rename(columns=dict,
          inplace=True)

# print Data frame after rename columns
display(excl_merged)

,Year,Municipality,Number of bins,Glass packaging (kg) collected,Autonomous_Community,Province_ConsellComarcal
0,2021.0,Abla,8.0,6230.0,Andalucia,Almeria
1,2021.0,Abrucena,10.0,11518.0,Andalucia,Almeria
2,2021.0,Adra,157.0,282575.0,Andalucia,Almeria
3,2021.0,Albanchez,6.0,17808.0,Andalucia,Almeria
4,2021.0,Alboloduy,6.0,4024.0,Andalucia,Almeria
...,...,...,...,...,...,...
8218,2021.0,Viniegra de Arriba,1.0,2000.0,Rioja La,Rioja La
8219,2021.0,Zarratón,3.0,14620.0,Rioja La,Rioja La
8220,2021.0,Zarzosa,1.0,400.0,Rioja La,Rioja La
8221,2021.0,Zorraquín,2.0,7800.0,Rioja La,Rioja La
8222,NaN,TOTAL,1884.0,6781820.0,Rioja La,Rioja La

In [24]:
#change order of columns
excl_merged = excl_merged.iloc[:, [0,4,5,1,2,3]]
excl_merged

,Year,Autonomous_Community,Province_ConsellComarcal,Municipality,Number of bins,Glass packaging (kg) collected
0,2021.0,Andalucia,Almeria,Abla,8.0,6230.0
1,2021.0,Andalucia,Almeria,Abrucena,10.0,11518.0
2,2021.0,Andalucia,Almeria,Adra,157.0,282575.0
3,2021.0,Andalucia,Almeria,Albanchez,6.0,17808.0
4,2021.0,Andalucia,Almeria,Alboloduy,6.0,4024.0
...,...,...,...,...,...,...
8218,2021.0,Rioja La,Rioja La,Viniegra de Arriba,1.0,2000.0
8219,2021.0,Rioja La,Rioja La,Zarratón,3.0,14620.0
8220,2021.0,Rioja La,Rioja La,Zarzosa,1.0,400.0
8221,2021.0,Rioja La,Rioja La,Zorraquín,2.0,7800.0
8222,NaN,Rioja La,Rioja La,TOTAL,1884.0,6781820.0

In [25]:
# data cleaning of summed up rows per seperate table
# excl_merged[excl_merged['Municipality'].str.contains('TOTAL')==False]

excl_merged = excl_merged.drop(excl_merged.index[excl_merged['Municipality'] == "TOTAL"])
excl_merged

,Year,Autonomous_Community,Province_ConsellComarcal,Municipality,Number of bins,Glass packaging (kg) collected
0,2021.0,Andalucia,Almeria,Abla,8.0,6230.0
1,2021.0,Andalucia,Almeria,Abrucena,10.0,11518.0
2,2021.0,Andalucia,Almeria,Adra,157.0,282575.0
3,2021.0,Andalucia,Almeria,Albanchez,6.0,17808.0
4,2021.0,Andalucia,Almeria,Alboloduy,6.0,4024.0
...,...,...,...,...,...,...
8217,2021.0,Rioja La,Rioja La,Viniegra de Abajo,5.0,12000.0
8218,2021.0,Rioja La,Rioja La,Viniegra de Arriba,1.0,2000.0
8219,2021.0,Rioja La,Rioja La,Zarratón,3.0,14620.0
8220,2021.0,Rioja La,Rioja La,Zarzosa,1.0,400.0
8221,2021.0,Rioja La,Rioja La,Zorraquín,2.0,7800.0

In [26]:
# converting 'Year' from float to int
excl_merged['Year'] = excl_merged['Year'].astype(int)
  
# displaying the datatypes
display(excl_merged.dtypes)
print(excl_merged)

Year                                int32
Autonomous_Community               object
Province_ConsellComarcal           object
Municipality                       object
Number of bins                    float64
Glass packaging (kg) collected    float64
dtype: object

      Year Autonomous_Community Province_ConsellComarcal        Municipality  \
0     2021            Andalucia                  Almeria                Abla
1     2021            Andalucia                  Almeria            Abrucena
2     2021            Andalucia                  Almeria                Adra
3     2021            Andalucia                  Almeria           Albanchez
4     2021            Andalucia                  Almeria           Alboloduy
...    ...                  ...                      ...                 ...
8217  2021             Rioja La                 Rioja La   Viniegra de Abajo
8218  2021             Rioja La                 Rioja La  Viniegra de Arriba
8219  2021             Rioja La                 Rioja La            Zarratón
8220  2021             Rioja La                 Rioja La             Zarzosa
8221  2021             Rioja La                 Rioja La           Zorraquín

      Number of bins  Glass packaging (kg) collected
0                8.0                          6230.0
1               10.0                         11518.0
2              157.0                        282575.0
3                6.0                         17808.0
4                6.0                          4024.0
...              ...                             ...
8217             5.0                         12000.0
8218             1.0                          2000.0
8219             3.0                         14620.0
8220             1.0                           400.0
8221             2.0                          7800.0

[8131 rows x 6 columns]

In [27]:
# exports the dataframe into excel file with
# specified name.
#excl_merged.to_excel(cwd + '\interim\interim_data_W2.xlsx', index=False)
#excl_merged.to_excel("C:\Users\rensw\OneDrive - Universiteit Utrecht\GIMA\Thesis - Buitenland\Thesis\Data\Raw_data\W2\interim\interim_data_W2.xlsx", index=False)

In [28]:
# exports the dataframe into csv file with
# specified name.
#excl_merged.to_csv(cwd + '\interim\interim_data_W2.csv', index=False)
#excl_merged.to_csv("C:\Users\rensw\OneDrive - Universiteit Utrecht\GIMA\Thesis - Buitenland\Thesis\Data\Raw_data\W2\interim\interim_data_W2.csv", index=False)

In [29]:
# exports the dataframe into csv file with
folder = 'interim'
file_name = 'W2_interimdata'
date = datetime.now().strftime("%d%m%Y")
data_format = '.csv'

export_name = '/' + folder + '/' + file_name + '_' + date + data_format

excl_merged.to_csv(cwd + export_name, index=False)

In [30]:
# exports the dataframe into excel file with
folder = 'interim'
file_name = 'W2_interimdata' 
date = datetime.now().strftime("%d%m%Y")
data_format = '.xlsx'

export_name = '/' + folder + '/' + file_name + '_' + date + data_format

excl_merged.to_excel(cwd + export_name, index=False)