In [56]:
# importing the required modules
from IPython.display import display
import pandas as pd
import os
from openpyxl import Workbook as wb
from datetime import datetime

In [57]:
# Get the current working directory
cwd = os.getcwd()

# Print the current working directory
print("Current working directory: {0}".format(cwd))

Current working directory: c:\Users\rensw\OneDrive - Universiteit Utrecht\GIMA\Thesis - Buitenland\Thesis\Data\Raw_data\ECR2

## Raw Data Management --> Interim Data

In [58]:
# Remove old version
#os.remove(cwd + '/interim/ECR2_interimdata_27102022.csv')
#os.remove(cwd + '/interim/ECR2_interimdata_27102022.xlsx')

In [59]:
# read the interim ECR1 excel file and use as basis dataframe
excelFile = pd.ExcelFile('C:/Users/rensw/OneDrive - Universiteit Utrecht/GIMA/Thesis - Buitenland/Thesis/Data/Raw_data/ECR1/interim/ECR1_interimdata_27102022.xlsx')
df = pd.read_excel(excelFile)
df

            Municipalities_Signed_CovenantofMayors
0                                La Moheda De Gata
1                                             Gata
2                          Villanueva De La Sierra
3                                            Hoyos
4                                       Barcarrota
...                                            ...
2891  Gargantilla Del Lozoya Y Pinilla De Buitrago
2892                                  Torrelodones
2893                                  Los Corrales
2894                              Puerto Lumbreras
2895                                     Santander

[2896 rows x 1 columns]

In [60]:
# read the raw ECR2 excel file per sheet
excelFile = pd.ExcelFile(cwd + '/raw/ECR2_rawdata_13102022.xlsx')
df_adaption = pd.read_excel(excelFile, 'Commitment - Adaption')
df_2020 = pd.read_excel(excelFile, 'Commitment - 2020')
df_2030 = pd.read_excel(excelFile, 'Commitment - 2030')
df_2050 = pd.read_excel(excelFile, 'Commitment - 2050')
df_2020AND2030 = pd.read_excel(excelFile, 'Commitment - 2020 and 2030')
df_2020OR2030 = pd.read_excel(excelFile, 'Commitment - 2020 or 2030')

In [61]:
# filter to municipality name
df_adaption = df_adaption[['Signatories']]
df_2020 = df_2020[['Signatories']]
df_2030 = df_2030[['Signatories']]
df_2050 = df_2050[['Signatories']]
df_2020AND2030 = df_2020AND2030[['Signatories']]
df_2020OR2030 = df_2020OR2030[['Signatories']]

df_adaption

                   Signatories
0                      Ampuero
1                     Boadilla
2                       Bullas
3                     L'Estany
4                   Les Preses
5                         León
6                       Lleida
7                       Madrid
8             Molina de Segura
9                   Muntanyola
10                      Málaga
11      Ramales de la Victoria
12  San Cristóbal de La Laguna
13       San Juan de la Rambla
14    San Sebastián - Donostia
15     Sant Andreu de la Barca
16                   Sobremunt
17                     Suances
18               Torre Pacheco
19                    Valencia
20              Vall de Bianya
21                    Vilafant

In [62]:
# change values to title-format
df_adaption['Signatories'].str.title()
df_2020['Signatories'].str.title()
df_2030['Signatories'].str.title()
df_2050['Signatories'].str.title()
df_2020AND2030['Signatories'].str.title()
df_2020OR2030['Signatories'].str.title()

0         A Baña
1         A Bola
2       A Capela
3       A Cañiza
4       A Coruña
          ...
2825       Écija
2826       Épila
2827       Òdena
2828      Órgiva
2829       Úbeda
Name: Signatories, Length: 2830, dtype: object

In [63]:
check_adaption = df_adaption['Signatories']
check_2020 = df_2020['Signatories']
check_2030 = df_2030['Signatories']
check_2050 = df_2050['Signatories']
check_2020AND2030 = df_2020AND2030['Signatories']
check_2020OR2030 = df_2020OR2030['Signatories']

df['Commitment_Adaption'] = df['Municipalities_Signed_CovenantofMayors'].apply(lambda str: any([(reqWord in str) for reqWord in check_adaption]))
df['Commitment_2020'] = df['Municipalities_Signed_CovenantofMayors'].apply(lambda str: any([(reqWord in str) for reqWord in check_2020]))
df['Commitment_2030'] = df['Municipalities_Signed_CovenantofMayors'].apply(lambda str: any([(reqWord in str) for reqWord in check_2030]))
df['Commitment_2050'] = df['Municipalities_Signed_CovenantofMayors'].apply(lambda str: any([(reqWord in str) for reqWord in check_2050]))
df['Commitment_2020AND2030'] = df['Municipalities_Signed_CovenantofMayors'].apply(lambda str: any([(reqWord in str) for reqWord in check_2020AND2030]))
df['Commitment_2020OR2030'] = df['Municipalities_Signed_CovenantofMayors'].apply(lambda str: any([(reqWord in str) for reqWord in check_2020OR2030]))

df

,Municipalities_Signed_CovenantofMayors,Commitment_Adaption,Commitment_2020,Commitment_2030,Commitment_2050,Commitment_2020AND2030,Commitment_2020OR2030
0,La Moheda De Gata,False,False,False,False,False,False
1,Gata,False,False,False,False,False,False
2,Villanueva De La Sierra,False,False,False,False,False,False
3,Hoyos,False,False,False,False,False,False
4,Barcarrota,False,False,False,True,False,False
...,...,...,...,...,...,...,...
2891,Gargantilla Del Lozoya Y Pinilla De Buitrago,False,False,False,False,False,False
2892,Torrelodones,False,True,False,False,False,True
2893,Los Corrales,False,True,False,False,False,True
2894,Puerto Lumbreras,False,True,True,False,True,True
2895,Santander,False,True,False,False,False,True

In [64]:
# List headers of columns to check raw data set
list(df.columns)

['Municipalities_Signed_CovenantofMayors',
 'Commitment_Adaption',
 'Commitment_2020',
 'Commitment_2030',
 'Commitment_2050',
 'Commitment_2020AND2030',
 'Commitment_2020OR2030']

In [65]:
# exports the dataframe into csv file with
folder = 'interim'
file_name = 'ECR2_interimdata'
date = datetime.now().strftime("%d%m%Y")
data_format = '.csv'

export_name = '/' + folder + '/' + file_name + '_' + date + data_format

df.to_csv(cwd + export_name, index=False)

In [66]:
# exports the dataframe into excel file 
folder = 'interim'
file_name = 'ECR2_interimdata' 
date = datetime.now().strftime("%d%m%Y")
data_format = '.xlsx'

export_name = '/' + folder + '/' + file_name + '_' + date + data_format

df.to_excel(cwd + export_name, index=False)